h1, h2 {
  font-family: 'Times New Roman', Times, serif;
}

#name{
  text-align: center;
  position: fixed;
}

#app{
  height:500px;
  position: fixed;
  margin-top: 30px;
  box-align: center;
  margin-left:30px;
  border:2px solid gray;
  width:610px;
}

#myDIV{
  position: fixed;
  padding:0px;
  height:60px;
  width:595px;
  padding-left:2px;
  margin-top: 5px;
  margin-left: 5px;
  background-color: coral
}

#displayArea{
  overflow-y: scroll;
  height: 330px;
  margin-top:125px;
  padding:2px;
}

#myInput{
  padding-left:5px;
  margin-top: 0px;
  width:465px;
  border-bottom: 2px solid black;
  caret-color: coral;
}

input {
  position: relative;
  border: none;
  width: 70%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.itemCount{
  margin-right: 25px;
}

.addButton {
  position: relative;
  margin-left:8px;
  padding: 10px;
  width: 20%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
}

.addButton:hover {
  background-color: #bbb;
}

.taskButton{
  position: fixed;
  top: 487px;
  float:left;
  padding: 5px;
}

#mycount{
width: 10px;
}

.allTaskButton,.completedTaskButton,.pendingTaskButton,.selectStorage{
  position: relative;
  padding:5px;
  width:100px;
  margin-left: 2px;
  background: #d9d9d9;
  color: #555;
  text-align: center;
  font-size: 16px;
}

#toDoList{
  float:left;
}

body {
  margin: 0;
  min-width: 250px;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  font-size: 26px;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li span.checked + span {
  /* background: #888; */
  color: rgb(0, 0, 0);
  text-decoration : line-through;
}

ul li span.checked::before {
  content: '';
  position: absolute;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 2px;
  left: 8px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  cursor: pointer;
  border-collapse: collapse;
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

#check {
  position: absolute;
  cursor: pointer;
  left: 5;
  top: 12;
  padding: 12px 12px;
  background-color: white;
  border: 2px solid gray;
}

#check:hover {
  background-color: rgb(136, 133, 133,0.3);
}

.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}


